@import url("https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&family=Zen+Dots&display=swap");

#welcomeToTheWebsite {
    font-family: "Zen Dots", cursive;
    font-size: 20px;
    margin: 20px;
    position: sticky;
    top: 20px;
    background-color: inherit;
    z-index: 10000;
}

.botThinkingAnimation {
    animation: botThinking 3s infinite;
}
.botIsReadyAnimation {
    animation: botIsReady 3s infinite;
}
@keyframes botThinking {
    50% {
        transform: translateY(30px);
    }
}

@keyframes botIsReady {
    50% {
        transform: rotateY("90");
    }
}

/* LOADING PAGE CSS */
.loading-page {
    background: #0d0d0d;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-page .counter {
    text-align: center;
}
.loading-page .counter p {
    font-size: 40px;
    font-weight: 100;
    color: #f60d54;
}
.loading-page .counter h1 {
    color: white;
    font-size: 60px;
    margin-top: -10px;
}
.loading-page .counter hr {
    background: #f60d54;
    border: none;
    height: 1px;
}
.loading-page .counter {
    position: relative;
    width: 200px;
}
.loading-page .counter h1.abs {
    position: absolute;
    top: 0;
    width: 100%;
}
.loading-page .counter .color {
    width: 0px;
    overflow: hidden;
    color: #f60d54;
}
#loading-page-copyright
{
    font-size: 12px;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 99999;
    cursor: pointer;
}
#afterWorkingEnd {
    line-height: 1.5;
}

/* Responsive css */
@media (min-width:768px)
{
    #botLogoOnMobile {
        display: none!important;
    }
}
@media(max-width:767px) {
    #chatWithRobot {
        display: none;
    }
    #chatWithRobot {
        position: fixed;
        left: 10px!important;
        right: 10px;
        top: 90px!important;
        margin-left: 0!important;
        margin: 0 auto;
        z-index: 999999;
    }
    #navBarOnMobile {
        display: flex!important;
        position: sticky;
        top: 20px;
        background-color: inherit;
        z-index: 2;
    }
    #welcomeToTheWebsite {
        font-family: "Zen Dots", cursive;
        font-size: 12px;
        text-align: center;
        margin: 0px;
    }   
    #botLogoOnMobile {
        display: block;
        position: fixed;
        bottom: 20px;
        right: 25px;
    }
}